#wallet_con_wrap{
  width: 40%;
  display: none;
  position: fixed;
  top: 90px;
  right: 0;
  text-overflow: auto;
}
#wallet_con_wrap i{
  color: #ebebf3;
}
#cwbtn,
#lgin{
  background-color: #44415e;
  color: #ebebf3;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
}
#wallet_con{
  width: 80%;
  height: auto;
  background-color: transparent;
  display: flex;
  margin: 0;
  padding: 0;
}
#close_wallet{
  width: 5%;
  height: auto;
  margin: 0;
  padding: 0;
}
#close_wallet i{
  font-size: 30px;
  font-weight: 400;
}
#wc_inner{
  width: 85%;
  height: auto;
  margin: 0 0 0 10%;
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}
#login_con{
  display: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#inner_lc{
  width: 90%;
  height: auto;
  margin: 0 5%;
  padding: 0;
  background-color: transparent;
  text-align: center;
}
#lc_header1{
  font-size: 25px;
  font-weight: 500;
  color: #44415ea9;
}
#lc-header{
  font-size: 35px;
  font-weight: 400;
  color: #44415e;
}
#inner_lc input{
  width: 90%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
  padding: 0;
}
#lc_password{
  background-color: transparent;
  text-align: center;
  border: 1px solid  #2b265f;
}
#lc_submit{
  color: #ebebf3;
  background-color:  #2b265f;
  border: none;
}
#create_wallet{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#inner_cw{
  width: 90%;
  height: auto;
  margin: 0 5%;
  padding: 0;
  background-color: transparent;
  text-align: center;
}
#cw_header{
  font-size: 35px;
  font-weight: 400;
  color: #44415e;
}
#inner_cw input{
  width: 90%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
  padding: 0;
}
#Cw_password,
#c_password{
  background-color: transparent;
  border: 1px solid  #2b265f;
  text-indent: 10px;
}
#c_wallet{
  color: #ebebf3;
  background-color: #2b265f;
  border: none;
}
#w_main{
  display: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#wm_inner{
  width: 90%;
  height: auto;
  margin: 0 5%;
  padding: 0;
  background-color: transparent;
  text-align: center;
}
#wm_header{
  display: flex;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.back{
  font-size: 25px;
  font-weight: 400;
  color: #2b265f;
  width: 10%;
  height: auto;
  margin: 0;
  padding: 0;
}
#wm_header i{
  width: 10%;
  height: auto;
  margin: 0;
  padding: 0;
}
#wm_header #ma_text{
  font-size: 25px;
  font-weight: 400;
  width: 90%;
  height: auto;
  margin: 0;
  padding: 0;
}
#wb_box{
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin: 80px 0 0 0;
  background-color: #2b265f;
}
#w_balance{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#trx_no{
  font-size: 20px;
  font-weight: 400;
  color: #ebebf3;
}
#trx_text{
  font-size: 13px;
  font-weight: 400;
  background-color: #0e0b25;
  padding: 5px 10px;
  border-radius: 5px;
}
#w_balance1{
  display: flex;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 40px 0 0 0;
}
#available{
  width: 50%;
  height: auto;
  background-color: transparent;
}
#available #a_text{
  font-size: 13px;
  font-weight: 600;
  color: #c7c7f7de;
}
#available #trx_no1{
  font-size: 15px;
  font-weight: 600;
  color: #ebebf3;
}
#frozen{
  width: 50%;
  height: auto;
  background-color: transparent;
}
#frozen #f_text{
  font-size: 13px;
  font-weight: 600;
  color: #c7c7f7de;
}
#frozen #trx_no2{
  font-size: 15px;
  font-weight: 600;
  color: #ebebf3;
}
#bandwidth_con{
  width: 100%;
  height: auto;
  background-color: #2b265f;
  display: flex;
  padding: 5px 0;
  margin: 4px 0;
}
#bandwidth_text{
  font-size: 15px;
  font-weight: 600;
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
  color: #ebebf3;
}
#bandwidth_no{
  font-size: 15px;
  font-weight: 600;
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
  color: #ebebf3;
}
#action_con{
  display: flex;
  width: 50%;
  height: auto;
  padding: 50px 0 0 0;
  margin: 0 25%;
}
#send_trx{
  width: 40%;
  border: none;
  padding: 0;
  margin: 0 2.5%;
}
#send_trx i{
  font-size: 30px;
  font-weight: 600;
  background-color: #2b265f;
  color: #ebebf3;
  padding: 20px;
  border-radius: 50%;
}
#receive_trx{
  width: 40%;
  border: none;
  padding: 0;
  margin: 0 2.5%;
}
#receive_trx i{
  font-size: 30px;
  font-weight: 600;
  background-color: #2b265f;
  color: #ebebf3;
  padding: 20px;
  border-radius: 50%;
}
#send_con{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: none;
}
#sc_inner{
  width: 90%;
  height: auto;
  margin: 0 5%;
  padding: 0;
}
#sc_header{
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}
#sc_header #sch_text{
  font-size: 25px;
  font-weight: 400;
  width: 90%;
  height: auto;
  margin: 0;
  padding: 0;
}
#sc_main{
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin: 80px 0 0 0;
  background-color: transparent;
}
#transfer_a{
  font-size: 15px;
  font-weight: 400;
}
#insuficient_fund{
  font-size: 15px;
  color: red;
  font-weight: lighter;
  display: none;
}
#sc_main .scm_input{
  width: 100%;
  height: 30px;
  text-align: left;
  background-color: transparent;
  outline: none;
  border: 0.5px solid #44415e;
  text-indent: 8px;
}
#sc_balance{
  font-size: 13px;
  font-weight: 500;
  text-align: right;
}
#receiving_a{
  font-size: 15px;
  font-weight: 400;
}
#t_amount{
  font-size: 15px;
  font-weight: 400;
}
#send_btn{
  margin: 50px 20%;
  text-align: center;
  width: 60%;
  height: 40px;
  background-color: #2b265f;
  color: #ebebf3;
  border: none;
  border-radius: 25px;
  outline: none;
}
#recieve_con{
  display: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#rc_inner{
  width: 90%;
  height: auto;
  margin: 0 5%;
  padding: 0;
}
#rc_header{
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}
#rc_header #rch_text{
  font-size: 25px;
  font-weight: 400;
  width: 90%;
  height: auto;
  margin: 0;
  padding: 0;
}
#rc_main{
  width: 100%;
  height: auto;
  padding: 10px 0 50px 0;
  margin: 80px 0 0 0;
  background-color: transparent;
  text-align: center;
}
#reminder_text{
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 50px 0;
}
#address{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
#copy_address{
  height: 30px;
  background-color: transparent;
  border: 0.5px solid #44415e;
  outline: none;
  border-radius: 5px;
}

@media (max-width:1050px){
  #wallet_con_wrap{
  left: 0;
}
  #wallet_con{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    margin: 0;
    padding: 0;
  }
  #lc_header1{
    font-size: 15px;
    font-weight: 500;
    color: #44415ea9;
  }
  #lc-header{
    font-size: 20px;
    font-weight: 400;
    color: #44415e;
  }
  #cw_header{
    font-size: 20px;
    font-weight: 400;
    color: #44415e;
  }
  #action_con{
    display: flex;
    width: 90%;
    height: auto;
    padding: 50px 0 0 0;
    margin: 0 0 0 10%;
  }
  #ta_input ::placeholder{
    font-size: 12px;
  }
  #address{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}